{% extends 'base.html' %}
{% block content %}
    <body>
    <section id="main">
        <div class="container-fluid black-border-thin" style="padding-left:0%; padding-right:0%">
            <div class="main" id="textMain" name="textMain">
                <div style="margin:10%">
                    <h1>Cool, Random, and Interesting Projects</h1>
                    <p class="subtext">By Julian Lechner</p>
                    <div id="splash" style="">
                        <p class="mc-splash-text" id="splash-text"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
         <div class="container-fluid">
            <div class="row">
                <div class="col-6"><h3>Hi</h3></div>
                <div class="col-6"><h3>Hi</h3></div>
            </div>
        </div>
    </section>
    <script>
        window.onload = () => {
            document.getElementById('splash-text').innerHTML = splash();


        }

        function splash() {
            const splashes = ['Do or do not, there is no try!',
                'Hello There',
                'Finger-licking good!',
                '100% Free Range',
                'pls rt',
                'Also try Minecraft!',
                'Check it out!',
                'Déjà vu!',
                'indev!',
                'PSK approved!',
                'Go Highlanders!',
                ' <3 NJIT',
                'Check out my LinkedIn',
                'Home-made!']
            let rand = Math.floor(Math.random() * splashes.length);
            console.log(`Random Number ${rand}`);
            console.log(`Splash: ${splashes[rand].toString()}`)
            return splashes[rand].toString();
        }

    </script>
    </body>
{% endblock %}