{% extends 'base.html' %}
{% block content %}

    <section id="main">
        <div class="container-fluid" style=" padding-left:0%; padding-right:0%">
            <div class="main" id="textMain" name="textMain" style="border: blue solid 1px;">
                <div style="border: yellow solid 1px; margin:10%">
                    <h1>Cool, Random, and Interesting Projects</h1>
                    <p class="subtext">Enjoy these little things I make on a whim</p>
                    <div id="splash" style="">
                        <p class="mc-splash-text" id="splash-text"></p>
                    </div>
                </div>
            </div>

        </div>


    </section>
    <script>
        window.onload = () => {
            document.getElementById('splash-text').innerHTML = splash();


        }

        function splash() {
            const splashes = ['Do or do not, there is no try!',
                'Hello There',
                'Finger-licking good!',
                '100% Free Range',
                'pls rt',
                'Also try Minecraft!',
                'Check it out!',
                'Déjà vu!',
                'indev']
            let rand = Math.floor(Math.random() * splashes.length);
            console.log(`Random Number ${rand}`);
            console.log(`Splash: ${splashes[rand].toString()}`)
            return splashes[rand].toString();
        }

    </script>
{% endblock %}