{% extends "base.html" %}
{% block content %}
    <style>
     input[type="range"] {
         width:300px;
     }
    </style>
    <div class="container-fluid" id="main">
        <div class="form-group" class="center" style="transform: translateY(75%);">
            <output id="outputLabel">Generate a random number between 0 and 50</output>
            <form name="randomNum" class="center">
                <div name="inputs">
                    <label for="range">0</label>
                    <input id="range" type="range" min="0" max="100" oninput="setSliderVal()">
                    <label for="range">100</label>
                </div>
                <div name="button">
                    <input class="btn btn-primary mb-2" type="button" value="Generate Random Number" onclick="rand()">
                </div>
                <output id="randomNumOutput">0</output>
                <div name="buttontestinc">
                    <input class="btn btn-primary mb-2" type="button" value="Increment" onclick="increment()">
                </div>
                <div name="buttontestdec">
                    <input class="btn btn-primary mb-2" type="button" value="Decrement" onclick="decrement()">
                </div>
            </form>
        </div>
    </div>

    <script>
        //Retrieves current value of the slider
        function getSliderVal() {
            var slider = document.getElementById('range');
            return Number.parseInt(slider.value)
        }
        //Modifies output element with the current slider value
        function setSliderVal() {
            let x = getSliderVal();
            document.getElementById('outputLabel').innerHTML = `Generate a random number between 0 and ${x}`;
            console.log(`Sliderval: ${x}`);
        }
        //Calculates random value in the range of 0 and the slider value
        function rand() {
            console.log(`Sliderval: ${getSliderVal() + 1}`);
            let x = Math.round(Math.random() * (getSliderVal() + 1)); //
            event.preventDefault();
            document.getElementById('randomNumOutput').innerHTML = x;
            console.log(x);
        }

        function increment() {
            document.getElementById('randomNumOutput').innerHTML = parseInt(document.getElementById('randomNumOutput').innerHTML) + 1;
        }

        function decrement() {
            document.getElementById('randomNumOutput').innerHTML = parseInt(document.getElementById('randomNumOutput').innerHTML) - 1;
        }

    </script>

{% endblock %}