{% extends "base.html" %}
{% block content %}
    <body>
    <div class="container-fluid" id="main">
        <header>

        </header>
        <section>
            <form class="form-group" action="/youtube" method="POST">
                <label  for="firstname">Youtube URL</label>
                <input class="form-control"type="text" id="linkInput" name="yLink" placeholder="https://www.youtube.com/watch?v=jNQXAC9IVRw">
                <button class="btn-primary" type="submit">Download</button>
        </section>
    </div>

    <script>

    </script>
    </body>
{% endblock %}