
input[type="range"] {
         width:300px;
     }
header {
}

.center {
    margin: auto;
}
.card{
    border-radius:90%;
    box-shadow: black 1px 1px 2px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.grid-center {
    display: grid;

}
.form-control{
    text-align:center;
}
.calc-btn-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    place-items: stretch;
}

.grid-item {
    padding: 0px;
    font-size: 30px;
    text-align: center;
}

.calc-btn {
    width: 100%;
}

.calc-btn-main, .grid-item-main {
    height: 100%;
    font-size: 35px;
}

.calc-btn:active {
    background-color: gray;
}

.mc-splash-text {
    font-family: Minecraftia-Regular;
    color: yellow;
    text-align:center;
    text-shadow: black 2px 2px 2px;
    font-size: 20px;
    animation-name: splash-text;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: relative;
    width: 25%;
    left:75%;
    bottom:30px;



}

@keyframes splash-text {
    from {
        transform: scale(1) rotate(-15deg);
    }
    to {
        transform: scale(1.15) rotate(-15deg);
    }
}

@font-face {
    font-family: "WILD WORLD";
    src: url('/static/fonts/WILD WORLD.otf');

}

@font-face {
    font-family: "Minecraftia-Regular";
    src: url('/static/fonts/Minecraftia-Regular.ttf');

}

h1 {
    font-family: "WILD WORLD";
    text-align: center;
    font-size: 250%;
    font-weight: normal;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2 {
    font-family: "WILD WORLD";
    text-align: center;

}

body {
    margin: auto;

    animation: fadeIn 0.25s;
}
.navbar li{
    font-size:150%;
}

.subtext {
    font-family: "Prompt";
    text-align: center;
    font-size: 200%;
    font-weight: normal;
    color: white;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: black;

}
.img-circle{
    border-radius:50%;
}
.img-tiny{
    height:55px;
}
.black-border-thin{
    border: black 1px solid;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.main {
    padding-top: 4em;
    padding-bottom: 4em;
    background-color: CornflowerBlue;

}

#outputLabel {
    font-size: 2em;
    text-align: center;
    font-family: "Prompt";
    display: block;
    animation: fadeIn 0.5s;

}

#randomNumOutput {
    font-family: "Prompt";
    font-size: 3em;
}

#randomNumOutput:active {
    animation: fadeIn 0.5s;
}


.center {
    margin: auto;
    width: 50%;
    display: block;
    padding: 10px;
    text-align: center;
}
