header{
}

.center {
  margin: auto;
}
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.grid-center{
    display:grid;
    place-items:center;
}
.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
@font-face {
  font-family: "WILD WORLD";
    src: url('/static/fonts/WILD WORLD.otf');

}
@font-face {
  font-family: "Minecraftia-Regular";
    src: url('/static/fonts/Minecraftia-Regular.ttf');

}
h1{
    font-family: "WILD WORLD";
    text-align:center;
    font-size:250%;
    font-weight: normal;
    color:white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

h2{
    font-family:"WILD WORLD";
    text-align:center;

}

body {
    margin:auto;

    animation: fadeIn 0.25s;
}
.subtext{
    font-family: "Prompt";
    text-align:center;
    font-size:200%;
    font-weight: normal;
}
@keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
}

.main {
    padding-top:10em;
    padding-bottom:10em;
    background-color:#ebd7d5;

}

#outputLabel{
    font-size:2em;
    text-align:center;
    font-family: "Prompt";
    display:block;
    animation: fadeIn 0.5s;

}

#randomNumOutput{
    font-family:"Prompt";
    font-size:3em;
}
#randomNumOutput:active{
    animation: fadeIn 0.5s;
}


.center {
  margin: auto;
  width: 50%;
    display:block;
  padding: 10px;
    text-align:center;
}
