{% extends 'base.html' %}
{% block content %}
    <style>
        h2{
            color:white;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            text-shadow: black 2px 2px 1px;
        }
        p{
            color:white;
            text-shadow: black 1px 1px 1px;
        }

    </style>
<body style="background: url(https://images6.alphacoders.com/860/thumb-1920-860645.png) no-repeat center center fixed;-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; background-repeat: no-repeat;background-attachment: fixed; background-position: center;">
    <div class="container-fluid vertical-center" style="margin:auto;">
        <div id="404" class="grid-center">
            <h2>404 PAGE NOT FOUND</h2>
            <p class="subtext">Thank you Mario, but the page you're looking for is in another castle!</p>
        </div>

    </div>

</body>
{% endblock %}